@model JeuDontOnEstLeHeros.Core.Models.Paragraphe

@{
    ViewBag.Title = "One";
}

<h2>@Html.DisplayFor(model=> model.Id)</h2>

<div>
    <h4>Connecté(e) en tant que @Session["Pseudo"]</h4>
    <hr />

        <p>
            @Html.DisplayFor(model => model.Contenu)
        </p>
        <p>
            @ViewBag.Question.Contenu
        </p>
        <ul>
            @foreach (var r in ViewBag.Reponses)
            {
                <li>
                    <a href="@r.NextParagraphId">@r.Contenu</a>
                </li>
            }
        </ul>
    
</div>
