@model JeuDontOnEstLeHeros.Core.Models.Paragraphe

@{
    ViewBag.Title = "One";
}

<h2>One</h2>

<div>
    <h4>Paragraphe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenu)
        </dd>

    </dl>
    <p>
        @ViewBag.Question.Contenu
    </p>
    <ul>
        @foreach(var r in ViewBag.Reponses)
        {
          <li>
             <a href="@r.NextParagraphId">@r.Contenu</a>
          </li>
        }
    </ul>
</div>
